@import '../../sass/globals.scss';

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.event-details {
  display: flex;

  .event-details__picture {
    height: auto;
  }

  .event-details__date-box {
    display: flex;
    justify-content: space-between;
  }
}
