
.form-group {

  margin: 8px 0;

  label {
      display: block;
      padding: 8px;
    }

    input {
        border: 1px solid $happyLightGray;
        line-height: 20px;
        font-size: 18px;
        font-family: "Roboto";
        padding: 8px;
    }

    textarea {
        padding: 8px;
        min-height: 100px;
        font-size: 16px;

        vertical-align: top;
        resize: none;
        overflow: auto;

        border: 1px solid $happyLightGray;

        font-family: "Roboto";
    }
}
