service cloud.firestore {
  match /databases/{database}/documents {
    match /whiskyEvent/{eventId} {
      allow write: if request.auth.uid == "RPTEMonJGuS2MEATpmHQbtUMiK73" // me
    }
  }
}
