.feed-card {
    width: 500px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8px;
    padding: 8px;

    .feed-card__picture {
        img {
            width: 100%;
            height: auto;
        }
    }
}