.feed-card {
    width: 500px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8px;
    padding: 8px;

    .feed-card__picture {
        width: 30%;
        img {
            width: 100%;
            height: auto;
        }
    }

    .feed-card__description {
        width: 70%;
        h2 {
            margin-bottom: 0;
        }
        h3 {
            margin-top: 0;
        }
    }
}