
@import '~sass/colors.scss';

header {
    
    background-color: $primaryBackground;
    
    padding: 12px 0;
    z-index: 10;

    .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1012px;

    margin-left: auto;
    margin-right: auto;
}

    .header__title-and-search {
        display: flex;
        flex-direction: row;
    }

    .header__title {
        padding-right: 8px;
    }

    .header__user-and-signout {
        display:flex;

        .header__user-container {
            padding-right: 8px;
            position: relative;
        }
    }
}

.header__user-dropdown {
    position: absolute;
    z-index: 20;
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: $secondaryBackground;
    top: 30px;
    border-radius: 4px;


    .dropdown-item {
        height: 20px;
        padding: 8px;
        border-bottom: 1px solid black;

        &:hover {
            cursor: pointer;
            background-color: $secondaryLight;
        }
        
        &:last-child {
            border-bottom: none;
        }
    }
}