/* You can add global styles to this file, and also import other style files */

@import 'sass/colors.scss';
@import 'sass/forms.scss';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.jcard {
    border: 1px solid $happyLightGray;
    border-radius: 4px;
}

.jbutton {
    background-color: $primaryLight;
    padding: 4px 8px;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
    }
}

button.jbutton {
    background-color: $primaryDark;
    padding: 8px 16px;
    border-radius: 4px;
    border-style: none;
    margin: 8px 0;

    &:hover {
        cursor: pointer;
        background-color: $secondaryDark;
    }
}

.hidden {
    display: none !important;
}
